<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271216392485-sf6juq4pvmqrt9d8sovvf22m73qga3bl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271216392485-sf6juq4pvmqrt9d8sovvf22m73qga3bl</string>
	<key>API_KEY</key>
	<string>AIzaSyCIRTJBT5yA3Mi51WDmWO2J7HwoS32JWeI</string>
	<key>GCM_SENDER_ID</key>
	<string>271216392485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rlaehgns745.takeMedicine</string>
	<key>PROJECT_ID</key>
	<string>takemedicine-aeeec</string>
	<key>STORAGE_BUCKET</key>
	<string>takemedicine-aeeec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271216392485:ios:03b97cc2408fe156a502cc</string>
</dict>
</plist>